RewriteEngine On

# Evita reescribir si estás accediendo a /setup
RewriteCond %{REQUEST_URI} ^/setup [NC]
RewriteRule ^ - [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]